<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Eventos de la Semana - <%= nombreMateria %></title>
  </head>
  <body>
    <h1>Eventos de la Semana para <%= nombreMateria %></h1>
    <ul>
      <% eventos.forEach(function(evento) { %>
      <li>
        <%= evento.tipo %>: <%= evento.descripcion %>, Fecha: <%= evento.fecha
        %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
